<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            MySite
        </div>
        <ul class="navLinks">
            <li><a href="/">Home</a></li>
            <li><a href="/dictionary">Dictionary</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/decks">Decks</a></li>
            <li><a href="/create">Create Decks</a></li>
        </ul>
    </nav>



    <h1>Create Deck</h1>
    <form action="/addDeck" method="POST">

        <label>Name</label>
        <input type="text" name="title" required>

        <button type="submit">
            Submit
        </button>

    </form>
    
    <div class = "pageLayout">
        <div class = "leftPanel">
            <h2>
                My Decks
            </h2>
            <% decks.forEach(deck=>{ %>
                <button class = "deckButton" onclick= "selectDeck( <%= deck.id %>, '<%= deck.title %>')">
                    <%= deck.title %>
                </button>
            <% }) %>
        </div>

        <div class = "rightPanel">
            <h2 id="selectedDeck">
                Select a deck
            </h2>
            <input id = "searchBox" placeholder = "Search characters">
            <div id = "result">
                <% characters.forEach(character=>{ %>
                    <div class = "characterRow">
                    <span>
                        <%= character.chinese_character %>
                        —
                        <%= character.english %>
                    </span>
                    
                    <button onclick = "addCharacter(<%= character.id %>)">
                        Add
                    </button>

                    </div>
                   
                <% }) %>
            </div>
        </div>
    </div>
    
</body>

<script>
    let selectedDeckId = null;
    function selectDeck(id , title){
        selectedDeckId = id;
        document.getElementById("selectedDeck").innerText= title;
    }
    function addCharacter(characterId){
        if(!selectedDeckId){
            alert("select a deck first!");
            return
        }
        fetch(
            "/addCharacterToDeck",
            {
                method:"POST",
                headers:{
                    "Content-Type":
                    "application/json"
                },
                body:
                JSON.stringify({
                    deckId: selectedDeckId,
                    characterId
                })
            }
        );
    }
</script>

</html>