<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            MySite
        </div>
        <ul class="navLinks">
            <li><a href="/">Home</a></li>
            <li><a href="/dictionary">Dictionary</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/decks">Decks</a></li>
            <li><a href="/create">Create Decks</a></li>
        </ul>
    </nav>
    <h1>
        <%= deck.title%>
    </h1>
    <%allChars.forEach(character =>{%>
        <p><%=character.chinese_character%>-<%=character.english%></p>
        <button class="addButton" data-character-id="<%= character.id %>"> Add</button>
    <%})%>

    <%deckChars.forEach(character =>{%>
        <p><%=character.chinese_character%>-<%=character.english%></p>
        <button class="removeButton" data-character-id="<%= character.id %>">Remove</button>
    <%})%>
        
    

</body>

<script>
    document.querySelectorAll(".addButton").forEach(button=>{
        button.addEventListener(
            "click",
            ()=>{
                const characterId = button.dataset.characterId;
                addChar(characterId);
            }
        );
    });
    
    function addChar(characterId){
        fetch("/addCharacterToDeck",{
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify({
                deckId: <%=deck.id%>,
                characterId: characterId
            })
        }
        ).then(()=>{
            location.reload();
        });
    }     

    document.querySelectorAll(".removeButton").forEach(button=>{
        button.addEventListener(
            "click",
            ()=>{
                const characterId = button.dataset.characterId;
                removeChar(characterId);
            }
        );
    });
    
    function removeChar(characterId){
        fetch("/removeCharacterFromDeck",{
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify({
                deckId: <%=deck.id%>,
                characterId: characterId
            })
        }
        ).then(()=>{
            location.reload();
        });
    } 

</script>

</html>