<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        rel="stylesheet"
        href="/css/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            MySite
        </div>
        <ul class="navLinks">
            <li><a href="/">Home</a></li>
            <li><a href="/dictionary">Dictionary</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/decks">Decks</a></li>
        </ul>
    </nav>
    

    <div class="deckContainer">
        <div class="addDeck">
            <form
                action="/addDeck"
                method="POST">

                <input
                    type="text"

                    name="title"

                    placeholder=
                    "New deck title"

                    required>

                <button
                    type="submit">

                    Create Deck

                </button>

            </form>

        </div>
        <% decks.forEach(deck => { %>
            <div >
                <a href="create/<%=deck.id%>">
                    edit
                </a>
                <a class ="deckCard"
                    href="/flashcards/<%= deck.id %>">
                    <h2 class = "deckTitle">
                        <%= deck.title %>
                    </h2>

                    <p>
                        Accuracy:
                        <%= deck.high_score %>/<%= deck.characters.length %>
                    </p>

                    <p>
                        Last Played:
                        <%= deck.last_played %>
                    </p>
                    <p>
                        <%= deck.characters.join(" ") %>
                    </p>

                </a>
            
            </div>
        <% }) %>

        
    </div>
</body>

<script>
    const cards = document.querySelectorAll( ".deckCard");
    cards.forEach(card=>{
        const title = card.querySelector(".deckTitle");

        const original = title.innerText;

        card.addEventListener( "mouseenter",
            ()=>{

                title.innerText = "Study";
            }
        );
        card.addEventListener( "mouseleave",
            ()=>{
                title.innerText = original;
            }
        );
    });

</script>
</html>