<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        rel="stylesheet"
        href="/css/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            MySite
        </div>
        <ul class="navLinks">
            <li><a href="/">Home</a></li>
            <li><a href="/dictionary">Dictionary</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/decks">Decks</a></li>
            <li><a href="/create">Create Decks</a></li>
        </ul>
    </nav>
    <h1>Characters</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Character / 汉子</th>
            <th>English</th>
            <th>Pronunciation / 拼音</th>
        </tr>

        <% characters.forEach(character =>{ %>
            <tr>
                <td>
                    <%= character.id %>
                </td>
                
                <td>
                    <%= character.chinese_character %>
                </td>

                <td>
                    <%= character.english %>
                </td>

                <td>
                    <%= character.pronunciation %>
                </td>

                <td>
                    <% if(character.known){ %>

                        <form
                            action="/unlearnCharacter"
                            method="POST">

                            <input
                                type="hidden"
                                name="characterId"
                                value="<%= character.id %>">

                            <button>
                                ✓ Known
                            </button>

                        </form>

                    <% } else { %>

                        <form
                            action="/learnCharacter"
                            method="POST">

                            <input
                                type="hidden"
                                name="characterId"
                                value="<%= character.id %>">

                            <button>
                                Learn
                            </button>

                        </form>

                    <% } %>
                </td>

                <td>
                    <form
                        action="/addCharacterToDeck"
                        method="POST">
                        <select
                            name="deckId">
                                <% decks.forEach(deck => { %>
                                    <option
                                        value="<%= deck.id %>">
                                        <%= deck.title %>
                                    </option>
                                <% }) %>
                        </select>

                        <input
                            type="hidden"
                            name="characterId"
                            value="<%= character.id %>">
                        <button>
                            add to deck
                        </button>
                    </form>
                </td>

            </tr>

        <% }) %>
        

    </table>

</body>
</html>

