<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        rel="stylesheet"
        href="/css/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            MySite
        </div>
        <ul class="navLinks">
            <li><a href="/">Home</a></li>
            <li><a href="/dictionary">Dictionary</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/decks">Decks</a></li>
        </ul>
    </nav>

    <h1>Add Character</h1>
    <form action="/addCharacter" method="POST">

        <label>Character</label>
        <input type="text" name="character" required>

        <label>English</label>
        <input type="text" name="english" required>

        <label>Pronunciation</label>
        <input type="text" name="pronunciation" required>

        <button type="submit">
            Submit
        </button>
    </form>
    <div class = "dictionaryPage">
        <input id = "searchBar" placeholder = "Search characters">
        <h1>Characters</h1>
        <table>
            <tr>
                <th>Character / 汉子</th>
                <th>English</th>
                <th>Pronunciation / 拼音</th>
            </tr>
            <% characters.forEach(character =>{ %>
                <tr class = "characterRow">
                    <td>
                        <%= character.chinese_character %>
                    </td>

                    <td>
                        <%= character.english %>
                    </td>

                    <td>
                        <%= character.pronunciation %>
                    </td>

                    <td>
                        <% if(character.known){ %>
                            <form
                                action="/unlearnCharacter"
                                method="POST">
                                <input
                                    type="hidden"
                                    name="characterId"
                                    value="<%= character.id %>">
                                <button>
                                    ✓ Known
                                </button>
                            </form>
                        <% } else { %>
                            <form
                                action="/learnCharacter"
                                method="POST">

                                <input
                                    type="hidden"
                                    name="characterId"
                                    value="<%= character.id %>">
                                <button>
                                    Learn
                                </button>
                            </form>
                        <% } %>
                    </td>
                </tr>
            <% }) %>

        </table>

    </div>
   

</body>
<script>
    

    const searchBar = document.getElementById("searchBar");
    searchBar.addEventListener("input",()=>{
        const search = searchBar.value.toLowerCase();
        const rows = document.querySelectorAll(".characterRow");
        rows.forEach(row=>{
            const text = row.innerText.toLowerCase();
            if(text.includes(search)){
                row.style.display="";
            }else{
                row.style.display= "none";
            }
        })
    })
   
   
</script>

</html>

